

    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Contact Detail</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true" class="button-cross">&times;</span>
      </button>
    </div>

    <div class="modal-body">
    
      <form [formGroup]="contactModalForm" (ngSubmit)="submitForm()">
             
          <div class="container">
            <div class="form-group">
              <label for="firstname">First Name: </label>
              <input type="text" class="form-control" formControlName="firstname" />
            </div>
            <div class="form-group">
              <label for="lastname">Last Name: </label>
              <input type="text" class="form-control" formControlName="lastname" />
            </div>
            <div class="form-group">
              <label for="gender">Gender: </label>
              <!-- <input type="text" class="form-control" formControlName="preferred" /> -->
              <!-- Default inline 1-->
              <div class="custom-control custom-radio label-modal">
                <input id="gendermale" type="radio" class="custom-control-input" formControlName="gender" value="Male"
                  name="gender" >
                <label class="custom-control-label" for="gendermale">Male</label>
              </div>
      
              <!-- Default inline 2-->
              <div class="custom-control custom-radio label-modal">
                <input id="genderfemale" type="radio" class="custom-control-input" value="Female" formControlName="gender"
                  name="gender" >
                <label class="custom-control-label" for="genderfemale">Female</label>
              </div>
              
            </div>
            <div class="form-group">
            <label for="dateOfBirth1">Date of birth:</label>
            <div class="input-group">
              <input id="dateOfBirth1" class="form-control" placeholder="yyyy-mm-dd" name="dateOfBirth" formControlName="dateOfBirth" ngbDatepicker #dp="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
              </div>
            </div>
            </div>
            <!-- <div class="form-group">
              <label for="password">Password: </label>
              <input type="password" class="form-control">
            </div> -->
          </div>

      </form>
    
    </div>

    <div class="modal-footer">
      <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button> -->
      <button class="btn btn-success" [disabled]="!contactModalForm.valid" (click)="submitForm()">
        Submit
      </button>
    </div>
